* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}
.main {
  margin: 55px 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  width: 100%;
}
img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bottom {
  margin: 5px 25px;
}
h4 {
  letter-spacing: 4px;
  font-size: 0.85rem;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  opacity: 0.6;
  font-weight: 700;
}
h1 {
  margin-top: -2px;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  font-family: "Fraunces", serif;
}
p {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-top: -3px;
  opacity: 0.8;
  line-height: 1.7;
}
.price {
  flex-direction: row;
  justify-content: flex-start;
}
h2 {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
}
h3 {
  margin-left: 30px;
  align-self: center;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  opacity: 0.6;
}
.btn {
  display: inline-block;
  text-align: center;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  background-image: url(images/icon-cart.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position-x: 80px;
  background-position-y: center;
  margin-bottom: 20px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    margin: 200px auto;
    width: 50%;
    max-width: 600px;
    height: 450px;
  }
  .top,
  .bottom {
    justify-content: stretch;
    align-items: stretch;
  }
  .top {
    flex: 1.1;
  }
  .bottom {
    flex: 0.9;
  }

  .top img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    content: url("images/image-product-desktop.jpg");
  }
  .bottom {
    justify-content: center;
  }
  h3 {
    margin-left: 20px;
  }
  .btn {
    background-position-x: 60px;
  }
}
